<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sortedqueue.programmercreek">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/splash_title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProgramListActivity"
            android:label="@string/title_activity_dummy"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ProgramActivity"
            android:label="@string/title_activity_program"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.TestDragNDropActivity"
            android:label="@string/title_activity_test_drag_n_drop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.MemorizeProgramActivity"
            android:label="@string/title_activity_revise_program"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.MatchMakerActivity"
            android:label="@string/title_activity_match_maker"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.QuizActivity"
            android:label="@string/title_activity_quiz"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.FillTheBlanksActivity"
            android:label="@string/title_fill_the_blanks"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.ProgramWikiActivity"
            android:label="@string/title_program_wiki"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>