<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sortedqueue.programmercreek">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/splash_title"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sortedqueue.programmercreek.activity.ProgramListActivity"
            android:label="@string/title_activity_dummy" >
        </activity>
        <activity
            android:name="com.sortedqueue.programmercreek.activity.ProgramActivity"
            android:label="@string/title_activity_program" >
        </activity>
        <activity
            android:name="com.sortedqueue.programmercreek.activity.DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sortedqueue.programmercreek.activity.TestDragNDropActivity"
            android:label="@string/title_activity_test_drag_n_drop" >
        </activity>
        <activity
            android:name="com.sortedqueue.programmercreek.activity.MemorizeProgramActivity"
            android:label="@string/title_activity_revise_program" >
        </activity>
        <activity
            android:name="com.sortedqueue.programmercreek.activity.MatchMakerActivity"
            android:label="@string/title_activity_match_maker"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sortedqueue.programmercreek.activity.QuizActivity"
            android:label="@string/title_activity_quiz" >
        </activity>
        <activity
            android:name="com.sortedqueue.programmercreek.activity.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.sortedqueue.programmercreek.activity.WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name="com.sortedqueue.programmercreek.activity.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="com.sortedqueue.programmercreek.activity.FullScreenWizardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_full_screen_wizard"
            >
        </activity>
    </application>

</manifest>